{% extends 'blog/base.html' %}

{% block titulo %} Genesis !! {% endblock %}

{% block main %}
    <main class="container bg-black mx-auto text-white text-center">
        <h2>Vista Blog ...</h2>
        <a href="{{url_for('admin')}}">Admin</a>
    </main>
{% endblock %}