{% extends 'admin/base.html' %}

{% block titulo %} Panel !! {% endblock %}

{% block main %}
    <main class="grid grid-cols-10 gap-2 m-3 text-white text-shadow-lg text-center">
        <section class="col-span-10 xl:col-span-7 shadow shadow-slate-900 bg-slate-900">
            <header class="text-2xl p-2 bg-emerald-900">
                <h2>Bienvenido al Panel de control</h2>
            </header>
            
        </section>
        <section class="col-span-10 xl:col-span-3 bg-slate-900 shadow shadow-slate-900">
            <nav class="flex flex-col p-1 text-lg text-left  m-1  divide-y divide-solid divide-yellow-300">
                <a class="block bg-yellow-900 shadow shadow-gray-900  pl-4 p-2" href="{{url_for('blog')}}">Blog</a>
                <a class="block bg-yellow-900 shadow shadow-gray-900 pl-4 p-2" href="{{url_for('blog')}}">Enlace 1</a>
                <a class="block bg-yellow-900 shadow shadow-gray-900 pl-4 p-2" href="{{url_for('blog')}}">Enlace 2</a>
                <a class="block bg-yellow-900 shadow shadow-gray-900 pl-4 p-2" href="{{url_for('blog')}}">Enlace 3</a>
            </nav>
        </section>
        
        
    </main>
{% endblock %}